body { /* Background color */
  background-color: rgb(189, 222, 222);
  margin: 20px;
}

main {
  width: 45%;
  margin: auto;
}

h1 { /* Title placement */
  text-align: left; 
}

img.vloot1 { /* First vloot1 image */
  border: 3px solid;
  float: left;
  width: 400px;
  height: 258px;
  margin: 4px;
}

p { /* First paragraph text */
  text-align: right, inherit;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

img.vloot2 { /* Second vloot2 image */
  border: 3px solid;
  float: right;
  width: 400px;
  height: 297px;
  margin: 4px;
}

img.vloot3 { /* Third vloot3 image */
  border: 3px solid;
  float: left;
  width: 530px;
  height: 238px;
  margin: 4px;
}